{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about-section d-flex flex-column align-items-center shadow-effect" id="about" >
    <h2 class="text-center mb-2 fw-bold text-danger">ABOUT US</h2>
    <!-- <h4 class="text-center mb-4">Gas Booking System</h4> -->
    <div class="row d-flex justify-content-center align-items-center w-100 shadow p-4">
        <div class="col-md-6">
            <p class="text-center text-secondary">The Online Gas Booking System has been developed to solve the problems prevailing in the practicing 
                manual system. This system is designed for particular need of the company to carry out operation in a smooth and effective manner.</p>
            <p class="text-center text-secondary">The Online Gas Booking System can lead to error free, secure, reliable and 
                fast management system. It can assist the user to concentrate other activities rather than to concentrate on record keeping. 
                Thus it helps organization in better utilization of resources.</p>
                <p class="text-center text-secondary">The Online Gas Booking System can lead to error free, secure, reliable and 
                    fast management system. It can assist the user to concentrate other activities rather than to concentrate on record keeping. 
                    Thus it helps organization in better utilization of resources.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="../static/images/gas.jpg" alt="Gas Image" width="80%">
        </div>
    </div>
</div>
{% endblock %}