{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center mt-5 box-shadow">
    <div class="col-md-6 col-lg-4">
        <div class="forgot-password-container shadow p-5">
            <h3 class="text-center text-danger">Forgot Password</h3>
            <form method="POST" action="{{ url_for('forgot_pswd') }}">
                <div class="mb-3">
                    <label for="email" class="form-label text-secondary">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-danger w-100 mb-5">Submit</button>
            </form>
            <div class="messages mt-3">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="list-unstyled">
                            {% for category, message in messages %}
                                <li class="text-danger">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            {% if debug %}
                <div class="debug-info mt-3">
                    <h5>Debug Information</h5>
                    <pre>{{ debug_info }}</pre>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
